<!DOCTYPE>
<html lang="en">
<head>
	{{>head}}
 <title>My Page</title>
</head>

<body>
{{>bsnavbar}}

<div clasee="container"> 
{{{body}}}
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</body>
</html>